@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "../../node_modules/bulma/bulma.sass";

$radius: 6px;
$primary: #42a5f5;

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  margin: 2.5rem 0;
}
