@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$radius: 6px;
$primary: #42a5f5;

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.content {
  margin: 2.5rem auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

input,
label,
textarea {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  font-size: larger;
}

textarea {
  border-radius: $radius;
  outline: 0;
  border: 1px solid lightgray;
  margin: 0.5rem 0;
  width: 100%;
  padding: 0.5rem;
}

button {
  border-radius: $radius;
  outline: 0;
  padding: 0.5rem 1rem;
  border: 0;
}

.primary {
  background-color: $primary;
  transition: background-color 0.25s ease;
}

.primary:hover {
  background-color: lighten($primary, 10%);
}

.right {
  float: right;
}
